@{
    ViewBag.Title = "Project Researcher Matching Module";
}

<div class="jumbotron">
    <p class="lead">Project Researcher Matching Module</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
   
</div>